# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Oo]ut/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# User-specific
*.rsuser
*.userprefs

# macOS
.DS_Store
